# Python as a calculator

One of the simplest things you can do with python is begin to use it as a calculator as so:

In [1]:
3+3

6

In [2]:
reset -fs

You can use all the standard operators:
* $+$ (add)
* $-$ (subtract
* $*$ (multiply)
* $/$ (divide)
* $**$ (raise to an exponent)
* $\%$ (remainder; modular arithmetic)
* $//$ (quotient; floor division)

In [3]:
5-2

3

In [4]:
5+2

7

In [5]:
5*2

10

In [6]:
5/2

2.5

In [7]:
5**3

125

In [8]:
5%2 #Remainder/modular arithmetic

1

In [9]:
5//2 #Quotient/floor division

2

# Naming things with Variables
We can use the `=` sign to assign values to a variable.

In [17]:
width = 5

In [11]:
width

5

In [18]:
height = 4.5

In [20]:
area = width * height

In [21]:
type(area)

float

If a variable is not defined, you wil get an error

In [14]:
depth

NameError: name 'depth' is not defined

# Strings
Strings are python's built in data type for storing text. Keep in mind, that digits can also be stored as strings, but will behave differently when stored as strings rather then *float* or *integer* numbers.

In [16]:
'Monty Python and the Holy Grail' #single (or double) quotes indicate a string

'Monty Python and the Holy Grail'

In [17]:
"Monty Python and the Holy Grail"

'Monty Python and the Holy Grail'

In [27]:
sentence1 = "Monty Python and the Holy Grail" #\n is a special character denoting "new line"
sentence1

'Monty Python and the Holy Grail'

In [28]:
sentence2 = "Monty Python \nand the Holy Grail" #\n is a special character denoting "new line"
sentence2

'Monty Python \nand the Holy Grail'

In [29]:
sentence3 = "Monty Python \n\tand the Holy Grail" #\n is a special character denoting "new line"
sentence3

'Monty Python \n\tand the Holy Grail'

In [31]:
print(sentence1)
print(sentence2)
print(sentence3)

Monty Python and the Holy Grail
Monty Python
and the Holy Grail
Monty Python
	and the Holy Grail

In [11]:
type(sentence)

str

In [32]:
2+2

4

In [33]:
'2'+'2'

'22'

In [26]:
'blah '*5

'blah blah blah blah blah '

In [30]:
ls st*

string-slicing.png

# String slicing
<img src='string-slicing.png' width=600>

In [77]:
name = 'Monty Python'

In [36]:
name[0] #first character in the string

'M'

In [43]:
name[2:5]

'nty'

In [33]:
name[:5] #first 5 characters in the string

'Monty'

In [34]:
name[:-10] #up to the last 10 characters in the string (note \n counts as 1 character)

'Mo'

In [36]:
name[-6:] #The last 6 characters

'Python'

In [45]:
name[::-3] #Everything going backwards

'nt n'

Strings also have a number of built in methods including: 
* str.lower()
* str.upper()
* str.split()
* str.replace()
* str.strip()

In [78]:
name.lower()

'monty python'

In [87]:
Title = 'Monty Python'

In [ ]:
bookTitle =

In [81]:
name.lower()

'monty python'

In [82]:
name.upper()

'MONTY PYTHON'

In [84]:
name = name.lower()

In [85]:
name

'monty python'

In [70]:
name = ' This is my first python  class; helloworld! '

In [64]:
name.split(';') #This returns a list! We'll talk about that next. (By default splits on spaces)

['This is my first python class', ' helloworld!']

In [66]:
name.split('y') #You can also split by other characters

['This is m', ' first p', 'thon class; helloworld!']

In [68]:
name.replace('n', 'z')

'Mozty Pythoz'

In [71]:
name.strip() #Remove beginning/ ending whitespace

'This is my first python  class; helloworld!'

In [76]:
name.lstrip

SyntaxError: invalid syntax (<ipython-input-76-e88fe822135a>, line 1)

In [72]:
name.replace(' ','')

'Thisismyfirstpythonclass;helloworld!'

# Lists
Python also has a number of compound data types such as lists. These are used to group items together.

In [93]:
numbers = [101,'A','Adam',44,55,67,7,18,29,130]

In [94]:
numbers

[101, 'A', 'Adam', 44, 55, 67, 7, 18, 29, 130]

In [95]:
type(numbers)

list

Like strings, lists can be sliced by the index:

In [98]:
numbers[1]

'A'

In [99]:
type(numbers[1])

str

In [100]:
numbers[-1]

130

In [101]:
numbers[:5]

[101, 'A', 'Adam', 44, 55]

# List methods
Lists also have many built in methods including:
* list.reverse()
    * Doesn't directly return anything but updates the list
* list.pop()
    * Remove the item at the given index (7) and return its value
* list.remove()
    * Find the given item and remove it. Doesn't return anything directly.
* list.append()
    * Append an item to the end of a list. No return value.
* list.insert()
    * Insert an item at a specific position.

In [115]:
numbers = ['Adam',23,31,445,15,146,71,8,9,10]

In [121]:
Adam = 6

In [123]:
numbers = [6,23,31,445,15,146,71,8,9,10]

In [117]:
numbers = ['apple', 'Apple', 'Adam']

In [124]:
numbers.sort()
numbers

[6, 8, 9, 10, 15, 23, 31, 71, 146, 445]

In [116]:
numbers.sort(reverse=True)

TypeError: '<' not supported between instances of 'str' and 'int'

In [114]:
numbers

[445, 146, 101, 71, 31, 23, 15, 10, 9, 8]

In [46]:

numbers.reverse() #Doesn't directly return anything but updates the list

In [125]:
numbers = [6,23,31,445,15,146,71,8,9,10]

In [126]:
numbers.reverse()
numbers

[10, 9, 8, 71, 146, 15, 445, 31, 23, 6]

In [2]:
numbers = list(range(1, 11))

In [3]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
numbers.pop(7) #Remove the item at the given index (7) and return its value

8

In [5]:
numbers

[1, 2, 3, 4, 5, 6, 7, 9, 10]

In [6]:
numbers.remove(7) #Find the given item and remove it. Doesn't return anything directly.

In [7]:
numbers

[1, 2, 3, 4, 5, 6, 9, 10]

In [8]:
numbers.append(700)

In [9]:
numbers

[1, 2, 3, 4, 5, 6, 9, 10, 700]

In [10]:
numbers.insert(-3, 300)

In [11]:
numbers

[1, 2, 3, 4, 5, 6, 300, 9, 10, 700]

# Loops and Iteration
Lists are a natural place to start looking at how we can iterate in python.

In [36]:
salary = [1000, 450, 2000, 150, 7000]

In [37]:
salary

[1000, 450, 2000, 150, 7000]

In [25]:
len(salary)

5

In [18]:
salary

[1000, 450, 2000, 150, 7000]

In [14]:
salary[1]

450

In [30]:
new_salary = []
for val in salary:
    if val > 500:
        #newval = 1.5 * val
        new_salary.append(1.5 * val)
    else:
        #newval = 1.7 * val
        new_salary.append(1.7 * val)
    #new_salary.append(newval)
print(new_salary)

[1100.0, 495.0, 2200.0, 165.0, 7700.0]

In [33]:
numbers = list (range(1,11))
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [35]:
for num in numbers:
    print(num+2)

3
4
5
6
7
8
9
10
11
12

In [63]:
#Notice that we can use any alias as the variable name for our iterator:
for super_bad_variable_name in numbers:
    print(super_bad_variable_name)

1
2
3
4
5
6
7
8
9
10

# Booleans and Conditionals
Another basic data type we have ignored up until now are booleans which are used in classical logic. Booleans are either True or False.

In [47]:
type(True)

bool

In [48]:
type(False)

bool

Booleans are very useful for conditional execution. For example:

In [49]:
for i in [1,2,3,4,5]:
    if i < 3:
        print(i)

1
2

Through each iteration of the loop, python is evaluating the expression `i < 3` and resolving it to a boolean to determine whether or not to execute the following paragraph of code.

In [50]:
1 < 3

True

In [51]:
2 < 3

True

In [52]:
3 < 3

False

In [53]:
4 < 3

False

In [54]:
5 < 3

False